<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Ensemble:</strong>
    <%= project.ensemble_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= project.date %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= project.place %>
  </p>

</div>
